## Set features you don't want to False

# These are required
consumer_key: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
consumer_secret: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
access_token: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
access_token_secret: "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"


# retweet filters
friends_limit: 200 # user has at least this many friends
favourites_limit: 2000 # user has at least this many favourites
followers_limit: 200 # user has at least this many followers
statuses_limit: 2000 # user has at least this many status updates
retweeted_limit: False # will cause some extra searches if set, shit may not even ever work
                       # would have to be a number < 5
                       # checks for how many times the tweet has already been retweeted


# relative to time zone on machine running bot
# 10:00 - 22:00
minimum_hour: 10
maximum_hour: 22

# optional path to tweets to send out on intervals
tweets_path: 'tweets.txt'

# hashtags to search for and retweet
watched_hashtags:
  - "#sometag"
  - "#someothercooltag"
  - "#cocks"

# hashtags to ignore if they get found in a returned tweet
blocked_hashtags:
  - "#butthurtassholes"
  - "#otherdouschers"

# user mentions to ignore if they get found in a returned tweet
blocked_user_mentions:
  - "@SomeDick"
  - "@CyberDildo"

log_level: "info"
